<!DOCTYPE html>
<html>
    
    <head>
        <title> About </title>
        <link type="text/css"; rel="stylesheet"; href="../css/stylesheet.css"/>
    </head>

    <body>
        
        <!-- Header -->
        <div id="header">
            <h1> Kelsey C. Schuster </h1>
        
            <!-- List of links to other pages -->
            <div id="pageLinks">
                <p align="center">
                    <a href="../index.html"> Home </a>
                    &bull;
                    <a class="currLink" href="about.html"> About </a>
                    &bull;
                    <a href="resume.html"> Resume </a>
                    &bull;
                    <a href="projects.html"> Independent Projects </a>
                    &bull;
                    <a href="research.html"> Research </a>
                </p>
            </div>
        </div>
        
        <!-- Horizontal divider -->
        <hr align="center"></hr>
        
        
        <!-- Content -->
        <h2> About Me </h2>
        
        <div class="wrap">
            <div class="content">
                
            <img id="KCS_pic" src="../images/KCS.jpg" width=23% align="left" />
            
            <p> Hi, I'm Kelsey Schuster, a recent PhD graduate and soon-to-be data engineer. Welcome to my personal website, where I describe my research projects in the field of theoretical chemistry, as well as some of the data science and programming projects I've been working on in my spare time. </p>
        
            <p> I grew up in Wisconsin, where I learned to appreciate winter weather and became a devoted Green Bay Packers fan. I moved on to study chemistry and mathematics at Wheaton College in Illinois, graduating <em>summa cum laude</em> in May 2011. I had become interested in computer programming in college and decided to pursue a PhD in theoretical chemistry, which would allow me to study chemistry using computer simulations and mathematics. I moved out to Berkeley, California and worked with Prof. David Chandler on researcher in glassy physics. I graduated with my PhD from UC Berkeley in August 2016. </p>
        
            <p> I'm currently preparing for my new adventure as a data engineer. </p>
            </div>
        </div>
        
        <!-- Horizontal divider -->
        <hr align="center"></hr>
        
        
        <!-- Links to Github, LinkedIn, etc. -->
        <p align="center">
            <a href="https://www.github.com/kcschuster" target="_blank">
                <img class="logos" src="../images/GitHub-Mark-120px-plus.png" />
            </a>
            <a href="https://www.linkedin.com/in/kcschuster" target="_blank">
                <img class="logos" src="../images/In-Black-128px-TM.png" />
            </a>
        </p>


    </body>

</html>
